//Цвета
$main-bg: rgba(37, 37, 37, 0.6);
$font-color: white;
$icon-bg: black;
$icon-color: white;
$violet-gradient: linear-gradient(180deg, #988FFF 0%, #1400FF 100%);
$blue-gradient: linear-gradient(180deg, #002CC7 0%, #0038FF 100%);



//Основные настройки
%rectangle-background {
  background: $main-bg;
  backdrop-filter: blur(50px);
}

%button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: $font-color;
  text-decoration: none;
  padding: 0px;
}

%row {
  display: flex;
}

%column {
  display: flex;
  flex-direction: column;
}