.main-data {
  display: flex; }

body {
  padding: 0px;
  margin: 0px; }

h1, h2, h3, h4, h5, h6, span {
  margin-block: 0px; }

img {
  width: 100%; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #988FFF 0%, #1400FF 100%);
  border-radius: 15px; }

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #002CC7 0%, #0038FF 100%); }

.main-data {
  margin-top: 40px;
  justify-content: space-around; }
