.table-chart-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 0px; }

.table-chart-header {
  display: flex; }

.table-chart {
  display: flex;
  flex-direction: column; }

.table-chart {
  width: 70%; }

.table-chart-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  background: black;
  margin-bottom: 15px;
  border-radius: 5px; }

.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black; }

th {
  padding: 10px;
  background: black;
  color: white;
  border: 1px solid white; }

td {
  text-align: end;
  border: 1px solid gray;
  padding: 3px; }
